<nav id="navbar-header" class="navbar  navbar-dark bg-dark px-3 home-navbar">
  <div class="left">
    <a class="navbar-brand" href="/">Team Commutatus</a>
    <ul class="nav nav-pills nav-pills-style">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyArchitecturalDiagram">Architectural diagram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyVideoDemo">Video Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyMeetTheTeam">Meet the Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Admin Panel</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <a class="navbar-brand" href="https://www.techgig.com/hackathon/airteliq-edtech">Airtel IQ Hackathon</a>
  </div>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-header" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <div id="scrollspyHome" class="home">
    <h2>Everton</h2>
    <h3>NLP-based WhatsApp chatbot for the Ed-Tech use case</h3>
    <a class="btn-trynow draw-border" href="https://wa.me/918904587747?text=Hello"><span>Try Now </span></a>
  </div>
  <div id="scrollspyArchitecturalDiagram" class="architectural-diagram">
    <div class="inner-div">
      <h2 class="p-2">Architectural diagram<h2>
      <img src="https://via.placeholder.com/800" alt="Architectural diagram">
    </div>
  </div>
  <div id="scrollspyVideoDemo" class="video-demo">
    <div class="inner-div">
      <h2 class="p-2">Video Demo<h2>
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
  </div>
  <div id="scrollspyMeetTheTeam" class="meet-team">
    <div class="inner-div">
      <h2 class="p-2">Meet the Team<h2>
      <div class="card-array">
        <div class="card">
          <div class="card-img">
            <img class="rounded-circle" alt="Laasya Kurunu" src="https://ca.slack-edge.com/T02JH0Q2E-U011P5QHG9Y-e0d33ae1afdb-512" />
          </div>
          <div class="card-body">
            <h5 class="card-title">Laasya Kanuru</h5>
            <span class="card-text">Data Science Engineer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
       <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/commutatus/" role="button" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/commutatus" role="button" target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/commutatus/?ref=br_rs" role="button" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-3 lower-footer">
    <small>Copyright &copy; Commutatus</small>
  </div>
</footer>